<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075924764880-eb8q56mnmc5egane8f12g9b1earo1pqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075924764880-eb8q56mnmc5egane8f12g9b1earo1pqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCO5YuLL2Zi7wbPjvfbusmaC-EZX4N261I</string>
	<key>GCM_SENDER_ID</key>
	<string>1075924764880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demostroyteocrm</string>
	<key>PROJECT_ID</key>
	<string>teo-app-e5dfd</string>
	<key>STORAGE_BUCKET</key>
	<string>teo-app-e5dfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075924764880:ios:cbb450312fbc31d132f6d5</string>
</dict>
</plist>